<div class="container center-align">
  <div class="row">
    <div class="col s3">
      <div class="row">
        <button md-raised-button color="warn" class="main-button">¿Quiénes somos?</button>
      </div>
      <div class="row">
        <button md-raised-button color="warn" class="main-button">Registro</button>
      </div>
      <div class="row">
        <button md-raised-button color="accent" class="main-button">Ingreso</button>
      </div>
      <div class="row">
        <button md-raised-button color="warn" class="main-button">Configuración</button>
      </div>
    </div>
    <div class="col s9">
      <agm-map [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
      <a md-fab routerLink="."><md-icon>location_on</md-icon></a>
    </div>
  </div>
</div>
