.main_button{
  width: 200px;
  height: 90px;
  float: right;
}

.input_on_image{
  background-color: #a8d271;
  color: #000000;
  margin-bottom: 0px;
}

.form-image {
  background-image: url(http://www.performancebike.com/images/performance/web/Performance%20Homepage/17PBS_05_01_Heroes_02.jpg);
  background-repeat: no-repeat;
  color: #FFFFFF;
}
